<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>

<body>
    <div class="container text-center">
        <h1>Password</h1>
        <br>
        <p>The generated password is <span class="alert alert-success fw-bold">{{ password }}</span></p>

        <form action="{% url 'password' %}">
            <input type="submit" value="Regenerated password" class="btn btn-success">
        </form>

        <br>
        <a href="{% url 'home' %}" class="btn btn-warning">Go back Home!</a>
    </div>
</body>

</html>